<div class="container">
  <div class="content">
    <div class="animated-panel">
      <img src="assets/logo.svg" />
      <form>
        <h1>Faça seu logon</h1>
        <app-input type="email" placeholder="E-Mail" [(value)]="email"/>
        <app-input type="password" placeholder="Senha" [(value)]="password"/>
        <app-button [disabled]="loading$ | async" (onClick)="signIn()" type="button" [loading]="loading$ | async">Login</app-button>
        <a routerLink="/sign-up">Não possui conta? Cadastre-se agora</a>
      </form>
    </div>
  </div>
  <div class="background" style="background: url(assets/sign-in-background.png) no-repeat center;"></div>
</div>
