<div class="container">
  <div class="background"></div>
  <div class="content">
    <div class="animated-panel">
      <img src="assets/logo.svg" />
      <form action="">
        <h1>Faça seu Cadastro</h1>
        <app-input type="text" placeholder="Nome" [(value)]="name.value" [error]="name.error"/>
        <app-input type="email" placeholder="E-Mail" [(value)]="email.value" [error]="email.error"/>
        <app-input type="password" placeholder="Senha" [(value)]="password.value" [error]="password.error"/>
        <app-input type="text" placeholder="Telefone" [(value)]="phone.value" [error]="phone.error"/>
        <app-button [disabled]="loading$ | async" (onClick)="signUp()" type="button">Cadastrar</app-button>
        <a routerLink="/sign-in">Já possui conta? Faça o Login</a>
      </form>
    </div>
  </div>
</div>
