@import '../../../styles';

button {
  background: #ff9000;
  height: 44px;
  border-radius: 10px;
  border: 0;
  padding: 0 16px;
  color: #312e38;
  width: 100%;
  font-weight: 500;
  margin-top: 16px;
  transition: background-color 0.2s;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover:enabled {
    background: shade(#ff9000, 20%);
  }

  &:disabled {
    opacity: 30%;
  }
}

.loading {
  color: transparent;
}

.loading::before {
  content: '';
  display: flex;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #312e38; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
